<+ templater.print_template("templates/header_part1.html", globals()) #
->
<+ templater.print_template("templates/header_part2.html", globals()) #
->

<h2 class="main">Please Login</h2>

<form action="<%target_page%>" method="post">
<p>E-Mail: <input type="text" name="email" size=50/></p>
<p>password: <input type="password" name="passwd" size=50/></p>
<p><input type="submit" name="submit" value="Log In"/><p>
</form>

<p><a href="register.py">Register</a></p>


<+ templater.print_template("templates/footer.html", globals()) #
->
