<+ templater.print_template("templates/header_part1.html", globals()) #
|= templater.print_template("templates/header_part2.html", globals()) #
|= templater.print_template("templates/sidebar.html", globals()) #
->


<div class="main">
    <h2 class="main">Welcome</h2>
    
    <p>Welcome to Diplomacloud! <em>You will be diplomicated.</em></p>
    <p>
        Number of users: <a href="user_list.py"><%num_users%></a><br>
        Games Played:&nbsp;<%num_games_total%><br>
        Active Games:&nbsp;<%num_games_active%><br>
    </p>
    <p>
        My Active Games: <a href="current_game.py"><%num_games_usr%></a><br>
        Unread messages: <a href="msg.py"><%unread_msges%></a><br>
    </p>
    
    <p>
        Read the offical rules to the game <a href="http://www.diplom.org/~diparch/resources/rulebooks/2000AH4th.pdf">here.</a> <br>
    </p>
        
</div>

<+ templater.print_template("templates/footer.html", globals()) #
->
