<+ templater.print_template("templates/header_part1.html", globals()) #
|= templater.print_template("templates/header_part2.html", globals()) #
|= templater.print_template("templates/sidebar.html", globals()) #
->

<div class="main">
    <h2 class="main">New Game</h2>
    
    <form action="new_game.py" method="post">
        <p style="color: #ff0000"><%error%></p>
        <p>
            User to add:
            <input type="text" name="screen_name" size=50 value='<%screen_name%>'/>
            (screen name)
            <a class='inline' href='user_list.py'>Directory</a>
        </p>
        <p><input type="submit" name="Add User" value="Add User"/></p>
        <p>
            <+ templater.print_table(user_table, user_table_info, "new_game.py", "users_in_game", paging=True) #
            ->
        </p>
        <+ if len(user_table) > 1:
        <p>
            <input type="submit" name="Start Game" value="Start Game"/>
        </p>
        ->
    </form>
</div>


<+ templater.print_template("templates/footer.html", globals()) #
->
