<+ templater.print_template("templates/header_part1.html", globals()) #
->
<+ templater.print_template("templates/header_part2.html", globals()) #
->

<h2 class="main">Registration</h2>

<form action="<%target_page%>" method="post">
<p>Name: <input type="text" name="name" size=50/></p>
<p>screen name: <input type="text" name="screen_name" size=50/></p>
<p>e-mail: <input type="text" name="email" size=50/></p>
<p>password: <input type="password" name="passwd1" size=50/></p>
<p>password: <input type="password" name="passwd2" size=50/></p>
<p><input type="submit" name="submit" value="Register"/><p>
</form>

<+ templater.print_template("templates/footer.html", globals()) #
->
