<div class="sidebar">
    <a class="sidebarlink" href="main.py">Home</a><br>
    <a class="sidebarlink" href="user_list.py">Directory</a><br>
    <a class="sidebarlink" href="msg.py">Messages</a><br>
    <a class="sidebarlink" href="send_msg.py">Send Message</a><br>
    <a class="sidebarlink" href="map_test.py">Map Test</a><br>
    <a class="sidebarlink" href="new_game.py">New Game (test)</a><br>
    <a class="sidebarlink" href="logout.py">Logout</a><br>
    
<!--    
    <div class="news">    
        <ul class="news">
            <li class="news">Example "news" for this box.</li>
            <li class="news">more example news for this box.</li>
        </ul>
    </div>-->
<br>
</div>