<div class="sidebar">
    <ul class="sidebar">
        <li class="sidebar"><a class="sidebarlink" href="main.py">Home</a></li>
    </ul>
    Games:
    <ul class="sidebar_box">
        <li class="sidebar"><a class="sidebarlink" href="current_game.py">Current Game</a></li>
        <li class="sidebar"><a class="sidebarlink" href="new_game.py">New Game</a></li>
    </ul>
    Messaging:
    <ul class="sidebar_box">
        <li class="sidebar"><a class="sidebarlink" href="user_list.py">Directory</a></li>
        <li class="sidebar"><a class="sidebarlink" href="msg.py">Messages</a></li>
        <li class="sidebar"><a class="sidebarlink" href="send_msg.py">Send Message</a></li>
    </ul>
    
    <!--<a class="sidebarlink" href="logout.py">Logout</a><br>-->
    
    <!--<ul class="sidebar_box">
        <li class="sidebar">Example "news" for this box.</li>
        <li class="sidebar">more example news for this box.</li>
    </ul>-->
</div>